.logo {
    background: linear-gradient(90deg, #ec7ab7 0%, #ec7a7a 100%);
    margin-left: -12px;
    border-top-left-radius: 5px;
    width: 150px;
    height: 40px;
    border-bottom-right-radius: 75%;
  }
  
  .landtick {
    font-family: "Opticon", sans-serif;
  }
  
  .fsp {
    font-size: 14px;
  }